*target*
*.war
*.ear
*.class
*.class.web
*.log

# eclipse specific git ignore
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
local.properties

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/.metadata/
